/*.thlogin-popup-modal { 
    display: flex !important; 
    visibility: visible !important;
    opacity: 1 !important; 
}
#thlogin-inline-wrapper {
    display: block !important;
    position: static !important;
    background: none !important;
    box-shadow: none !important;
    opacity: 1 !important;
    visibility: visible !important;
    z-index: auto !important;
}
.thlogin-toggle-button.is-active {
    background: #0b59f4;
    color: #fff;
    font-weight: 600;
}
.thlogin-header-cancel-button { display: none; }
.thlogin-page .thlogin-popup-form-container { height: auto !important; }
#thlogin-popup-modal.thlogin-page { display: flex !important; }

.thlogin-inline-combined-form-wrapper .thlogin-form{
    display: block!important;
}
*/